@charset "utf-8";

/*슬라이더*/
#slider {width: 100%; height: 360px;}
#slider_top_wrap {width: 100%; height: 315px;  }
#slider_container {width: 980px; height: 100%;  margin: 0 auto; position: relative; display: flex;}

/*슬라이더 호버*/
#hover_pop_up {width: 980px; height: 363px; position: absolute; top:0; left:0; display: none; z-index: 1;}
.hover_left_close  {position: absolute; right: 80px; bottom: 20px; cursor: pointer;}  
.hover_right_close {position:absolute; right: 20px; bottom: 20px; cursor: pointer;}

#slider_left_icon {width: 67px; height: 130px; position: absolute; left: -90px; top: 20px; }
#slider_left_icon img:first-child {width: 100%; height: 75%;}
#slider_left_icon img:last-child {width: 100%; height: 25%;}

/*슬라이드 이미지*/
#slider_img_wrap {width: 760px; height: 100%;  position: relative;}
.slider_img {width: 760px; height:315px; position: absolute; top: 0; left: 0;}
.slider_img img {width: 100%; height: 315px;}
.slider_img:not(:first-child) {display: none;}

/*슬라이드 베스트셀러*/
#bestseller {width: 220px; height: 315px;  background-color: rgba(50, 50, 50, 0.5);}
#best_box  {width: 220px; height: 32px;  line-height: 32px; padding-left: 13px; 
    color:#fff1a2; font-weight: bold;}
#best_wrap {width: 220px; height: 284px;  display: flex; flex-wrap: wrap; color: #fff;}

#today_box  {width: 50%; height: 30px; text-align: center; line-height: 27px;
font-size: 12px; border-top: 1px solid #b3b3b3; border-right: 1px solid #b3b3b3; cursor: pointer;} 
#week_box  {width: 50%; height: 30px; text-align: center; line-height: 27px;
font-size: 12px;  border-top: 1px solid #b3b3b3;  border-right: 1px solid #b3b3b3; cursor: pointer;}

/*슬라이드 베스트셀러 차트*/
#chart_today_box {width: 220px; height: 254px; padding: 0 15px; }
.best_ranking_today {width: 100%; height: 100%;  display: flex; flex-direction: column; justify-content: space-around;}
.best_ranking_today div {width: 100%; display: flex; align-items: center;}
.number {font-weight: bold; font-size: 10px; padding-right: 10px;}
.best_ranking_today div > p {font-size: 11px;}
.best_ranking_today div > i {padding-right: 5px; font-size: 3px;}
.best_ranking_today div > em {font-size: 5px; padding-right: 14px;}



#chart_week_box {width: 220px; height: 254px; padding: 0 15px;
}



/*슬라이더 바텀*/
#slider_bottom_wrap {width: 100%; height: 45px; background-color: #f7f7f7;}
#slider_bottom_ul_wrap {width: 980px; height: 100%;  margin: 0 auto;}
#slider_bottom_isue_ul {width: 760px; height: 100%; display: flex;
     justify-content: space-between; border-top: 1px solid #000;}
#slider_bottom_isue_ul > li {width: 190px; height: 100%;  display: flex;
justify-content: center; align-items: center; color: black; font-weight: bold; font-size: 14px; cursor: pointer;}

/*섹션 메인1*/
section {width: 980px; height:auto;  padding: 50px 0; margin: 0 auto;
}
#main_1 {width: 980px; height: 350px;  display: flex; justify-content: space-between;}
#interpark_pick_wrap {width: 745px; height: 100%;  position: relative;
border-top: 1px solid #000; display: flex; justify-content: center; align-items: center; border-bottom: 1px solid #eee;}
#interpark_pick_wrap > img {position: absolute; top: -13px; left:50%; transform: translateX(-50%);}
.more {position: absolute; right: 10px; top: -20px; font-size: 12px;}
.inter_prev {position: absolute; left:20px; top: 50%; transform: translateY(-50%);cursor: pointer}
.inter_next {position: absolute; right:15px; top: 50%; transform: translateY(-50%); cursor: pointer;}

/*섹션 메인1 왼쪽 슬라이드 배너*/
#inter_banner_wrap {width: 100px; height: 198px;  position: absolute;
top: 0; left: -130px; overflow: hidden; border: 1px solid #eee;}
#left_slide_ul {width: 300px; height: 160px; }
#left_slide_ul li {width: 100px; height: 160px; float: left;}
#left_slide_ul li img {width:100%; height: 160px;}

#inter_banner_btn {width: 100%; height: 38px;
display: flex; justify-content: center; align-items: center; }
.banner_btn_left {margin-right: 5px; cursor: pointer;}
.banner_btn_right {margin-left: 5px; cursor: pointer;}

/*섹션 메인1 슬라이드 ul*/
#interpark_ul_wrap {width: 657px; height: 250px; overflow: hidden; }
#interpark_ul {width: 1928px; height: 250px;}
#interpark_ul li {width: 462px; height: 250px; float: left;
display: flex; justify-content: space-between; align-items: center; margin-left: 20px;}
.inter_left_wrap {width: 150px; height: 228px;  position: relative;}
.inter_left_heart {position: absolute; top: -10px; left: 10px; }
.inter_img {width: 150px; height: 100%; box-shadow: 5px 5px 5px #eee;}
.inter_img img  {width: 100%; height: 100%;}

.inter_right_wrap {width: 295px; height: 180px;  display: flex; 
flex-direction: column; justify-content: flex-end;}
.star { color: rgb(247, 204, 12);}
.ten_color {color: #ef544d;}
.inter_title { font-size: 14px; color: #444; line-height: 20px; margin: 7px 0; font-weight: bold; font-size: 14px;}
.inter_title:hover {text-decoration: underline; cursor: pointer;}
.inter_subtitle {width: 295px; height: 100px; background-color: #f7f7f7;
padding: 10px; box-shadow: 4px 4px 4px #eee;}
.inter_subtitle p {font-size: 12px ; color: #444; line-height: 15px;}

#trend_isue_wrap {width: 220px; height: 100%; background-color: firebrick; position: relative;
background-color: #f7f7f7;;}
#trend_isue_wrap span {font-size: 14px; font-weight: bold;position: absolute; 
top: -20px; color: #555;}


/*섹션 메인2*/
#main_2 {width: 980px; height: 370px; display: flex; justify-content: space-between; margin-top: 40px;}

/*출판사 초이스*/
.publisher_pick_box1 {width: 365px; height: 370px;}
.main2_title_box {width: 100%; height:30px; line-height: 30px;}
.publisher_title {font-size: 18px; color: #111; letter-spacing: -2px; font-family: 'Noto Sans KR', sans-serif; 
}
.choice_title {font-size: 18px; color: #ef544d; letter-spacing: -2px;font-family: 'Noto Sans KR', sans-serif; 
}
#choice_wrap {width: 100%; height: 340px; border: 1px solid #eee;}
#choice_wrap img {width: 100%; height: 100%;}

/*미디어 초이스*/
.media_pick_box1 {width: 365px; height: 370px;}
#media_wrap {width: 100%; height: 340px; position: relative;}
#media_slide_ul {width: 100%; height: 340px; border: 1px solid #eee;}
#media_slide_ul li {width: 100%; height: 100%; position: absolute; top: 0; left: 0; border: 1px solid #eee;}
#media_slide_ul li:not(:first-child) {display: none;}
#media_slide_ul img {width: 100%; height: 100%;}


#media_circle_ul {position: absolute; display:flex; justify-content: space-around; width: 55px; top: 10px; left: 50%; transform: translateX(-50%);
z-index: 1; cursor: pointer;}
.on  {color: #4cc1ec; }




.media_prev_btn {position: absolute; left: 5px; top: 50%; transform: translateY(-50%); z-index: 2; cursor: pointer;}
.media_next_btn {position: absolute;  right: 5px; top: 50%; transform: translateY(-50%); z-index: 2; cursor: pointer;}

/*이 책 어때*/
.how_about_box1{width: 220px; height: 100%; position: relative;}
.how_title_1 {font-family: 'Noto Sans KR', sans-serif; font-size: 18px; color: #ef544d; }
.how_title_2 {font-family: 'Noto Sans KR', sans-serif; font-size: 18px;}
#how_wrap {width: 100%; height: 340px;position: relative;
display: flex;justify-content: center; align-items: center; }
#how_circle_ul {width: 60px;display: flex; justify-content: space-between;
position: absolute; left: 50%; transform: translateX(-50%); z-index: 1; cursor: pointer;}
.how_prev_btn {position: absolute; left: 0; top: 50%; transform: translateY(-50%); z-index: 2;cursor: pointer;}
.how_next_btn {position: absolute; right: 0; top: 50%; transform: translateY(-50%); z-index: 2; cursor: pointer;}

/*이 책 어때 슬라이드*/
#how_ul_wrap {width: 150px; height: 270px; overflow: hidden;}
#how_slide_ul {width: 600px; height: 270px; }
#how_slide_ul li {width: 150px; height: 270px; float: left; display: flex; 
flex-direction: column; justify-content: space-evenly; align-items: center;}
#how_slide_ul li img {width: 120px; height: 70%;}
#how_slide_ul li span {font-size: 10px;}
#how_slide_ul li  p {font-size: 12px; font-weight: bold; letter-spacing: -1;}

/*섹션 메인3*/
#main_3 {width: 100%; height: 145px;  margin-bottom:70px; margin-top: 50px; cursor: pointer;}

/*섹션 메인4*/
#main_4 {width: 980px; height: 415px; position: relative; text-align: center;
display: flex; align-items: flex-end; margin-bottom: 80px; border-top: 1px solid #000; position: relative; 
}

/*섹션 메인4 스판*/
#main_4_title {width: 190px; height: 30px; background-color: white; margin: 0 auto; text-align: center;
position: absolute; top: -15px; left: 40%;}
.main_title_left {font-size: 20px; font-family: 'Noto Sans KR', sans-serif; font-weight: 500;}
.main_title_right {font-size: 20px; font-family: 'Noto Sans KR', sans-serif; color: #ef544d;}

.field_wrap {width: 980px; height: 385px;}
#filed_nav {width: 980px; height: 50px; margin: 0 auto 30px auto;  display: flex;
justify-content: center; line-height: 45px; border-bottom: 1px solid #c9c9c9;}
#filed_nav li {width: 120px; cursor: pointer; font-weight: bold; font-size: 14px;}


/*섹션 메인4 ul fadeIn 박스*/
#filed_box_wrap1 {width: 980px; height: 290px; position: relative;}
.field_box {width: 980px; height: 290px;  position: absolute; top: 0; left: 0; }
.field_box:not(:first-child) {display: none;}
.field_content {width: 100%; height: 290px;  display: flex; justify-content: space-around;
align-items: center; }
.field_content li {width: 150px; height: 260px;  display: flex; flex-direction: column; justify-content: space-between;
align-items: center;}
.field_content li span {font-size: 12px; color: #222;}
.field_content li h4 {font-size: 12px; line-height: 15px; padding: 0 2px; cursor: pointer;}
.field_content li h4:hover {text-decoration: underline;}
.field_content li img {width: 130px; height: 70%; box-shadow: 2px 2px 2px #eee; cursor: pointer;}


/*field_content CD/DVD*/
#cd_wrap {width: 100%; height: 70%;  position: relative;}
#cd_wrap > img {box-shadow: none;}
#cd_wrap > img:nth-child(2) {position: absolute;  top: 65px;left: 50%; transform: translateX(-50%); }
#cd_wrap > img:last-child {position: absolute;  top: 65px; left: 50%; transform: translateX(-50%);}
.cd {position: absolute; top: 30px; left: 50%; transform: translateX(-50%); }
#cd_wrap:hover .cd{top:18px; transition: 0.4s;}


/*섹션 메인5*/
#main_5 {width: 980px; height: 340px;  display: flex; justify-content: space-between;}
#this_month_wrap {width: 395px; height: 340px; background-color: yello; }


/*섹션 메인5 타이틀 스판*/
#this_month_title {width: 395px; height: 40px;  display: flex; justify-content: space-between; border-bottom: 1px solid #000;}
#month_span_wrap {width: 140px; height: 100%;font-size: 20px;
    font-family: 'Noto Sans KR', sans-serif; line-height: 35px;}
.month_span_left {color: #f15300;}

#month_arrow_wrap {border-width: 100px; height: 100%; display: flex; align-items: center;}
#month_arrow_wrap span {border: 1px solid #c3c3c3; cursor: pointer;}



/*섹션 메인5 슬라이더*/
#this_month_ul_wrap {width: 395px; height: 300px;  overflow: hidden;}
#month_ul {width: 1580; height: 300px; display: flex; padding: 0 20px;}
#month_ul > li {width: 355px; height: 50%; margin-right: 20px;}

.month_li_top {width: 355px; height: 100%;   display: flex; align-items: center;}
.month_li_bottom {width: 355px; height: 100%;  display: flex; align-items: center;}

.month_img_box {width: 100px; height: 110px; background-color: red; box-shadow: 5px 5px 5px #eee;}
.month_img_box img {width: 100%; height: 100%;}
.month_contents_box {width: 255px; height: 110px;  padding-left: 10px; line-height: 20px;}
.month_grades { color: #ef544d;}
.month_title {font-size: 13px; font-weight: bold; letter-spacing: -2px;}
.line_through { font-size: 12px; color: #aaa; text-decoration: line-through;}
.month_price { font-size: 12px; color: #555;}


/*메인5 세일파트*/
#sale_title {width: 540px; height: 40px;border-bottom: 1px solid #000;}
.sale_1 {float: left; width: 110px;  height: 40px;  display: flex; align-items: center; justify-content: center; cursor: pointer;
border-bottom: none; background-color: white; border: 1px solid #000; border-bottom: none;}
.sale_2 {float: left; border-bottom: 1px solid #000;  background-color: white; width: 110px;  height: 40px; display: flex; align-items: center;  justify-content: center; cursor: pointer;
}

/*메인5 세일 슬라이드*/
.sale_ul_wrap {width: 540px; height: 300px; position: relative;}
.sale_ul_none {width: 540px; height: 300px; position: absolute; left: 0; top: 0;}
.sale_ul_1 {width: 540px; height: 300px; display: flex; justify-content: space-evenly;
align-items: center; }
.sale_ul_1 > li {width:110px; height: 230px; }
.sale_ul_none:not(:first-child) {display: none;}


/*메인5 세일 이미지*/
.sale_img_box {width: 110px; height: 60%; background-color: pink; position: relative; cursor: pointer;}
.sale_img_box img {width: 100%; height: 100%;}
.sale_discount {width: 80px; height: 50px; display: block; position: absolute; bottom: -10px; right: -9px;}
.sale_discount > img {width: 100%; height: 100%;}
.sale_img_box p {font-size: 14px;  color: #feffb0; letter-spacing: -2px; position: absolute; bottom: 20px; right: 9px;}
.sale_img_box h3 {font-size: 19px; color: white;  position: absolute; bottom: 0px; right: 5px;}

.sale_img_box2 {width: 110px; height: 60%; background-color: pink; position: relative; cursor: pointer;}
.sale_img_box2 img {width: 100%; height: 100%;}
.sale_img_box2 p {font-size: 14px;  color: #feffb0; letter-spacing: -2px; position: absolute; bottom: 20px;right: 9px;}
.sale_img_box2 h3 {font-size: 19px; color: white;  position: absolute; bottom: 0px; right: 5px;}


/*메인5 세일 컨텐츠*/
.sale_contents_box {width: 100%;  height: 40%; display: flex; flex-direction: column; justify-content: space-around; padding: 10px 0; text-align: center;}
.sale_contents_box h4 {font-size: 12px; color: #555; letter-spacing:-2px; cursor: pointer;}
.sale_contents_box h4:hover {text-decoration: underline;}
.sale_contents_box p {font-size: 12px; color: #555; letter-spacing:-2px;}
.sale_contents_box h5 {font-size: 12px; color: #555; letter-spacing:-2px;}



/*섹션 메인6*/
#main_6 {width: 980px; height: 585px;  display: flex; flex-direction: column; justify-content: space-between; margin-bottom: 60px;}
#click_box_top_wrap {width: 980px; height: 496px; display: flex;  justify-content: space-between;}
.click_title {width: 100%; line-height: 25px; display: flex; justify-content: space-between; font-size: 14px;}
.click_title span:first-child {font-weight: bold; color: #3d4d5f;}
.click_title span:last-child {font-size: 12px; color:#666; cursor: pointer;}
.click_contents_box {width: 320px; height: 496px; }
.click_wrap1 {width: 100%; height: 287px; background-color: #f7f7f7; position: relative; border-top: 1px solid #000;
border-bottom: 1px solid #ddd;}


/*cd 슬라이드 박스*/
.cd_title {width: 100%; height: 25px;  line-height: 25px; display: flex; justify-content: space-between;}
.cd_prev {position: absolute; top: 50%; left: 10px; transform: translateY(-50%); cursor: pointer; }
.cd_next {position: absolute; top: 50%; right: 10px; transform: translateY(-50%);  cursor: pointer;}

.cd_ul_wrap {width: 320px; height: 287px; overflow: hidden;}
.cd_ul {width: 960px; height: 100%; }
.cd_ul li {width: 320px; height: 287px;  float: left; display: flex; 
flex-direction: column;  align-items: center; justify-content: center;}
.cd_li_wrap {width: 260px; height: 260px;display: flex; flex-direction: column; align-items: center; cursor: pointer;}
.cd_li_wrap:hover .cd_inner_contents > p {text-decoration: underline;}

.cd_img_box {width: 216px; height: 210px; }
.cd_img_box img {width: 100%; height: 100%;}

.cd_inner_contents {width: 100%; height: 50px; text-align: center; line-height: 25px; line-height: 20px;}
.cd_inner_contents p { font-size: 11px; }
.cd_no_sale {font-size: 14px; color: #aaa; text-decoration: line-through;}
.cd_sale { font-size: 14px; font-weight: bold; letter-spacing: -2; color: #222;}
.cd_point { font-size: 12px; letter-spacing:-2;}


/*dvd 슬라이드 박스*/
.dvd_ul_wrap{width: 320px; height: 287px; overflow: hidden;}
.dvd_ul {width: 960px; height: 100%;}
.dvd_ul li {width: 320px; height: 287px;  float: left; display: flex; 
    flex-direction: column;  align-items: center; justify-content: center;}
.dvd_li_wrap {width: 260px; height: 260px;  display: flex; flex-direction: column; align-items: center; cursor: pointer;}
.dvd_prev {position: absolute; top: 50%; left: 10px; transform: translateY(-50%); cursor: pointer; }
.dvd_next {position: absolute; top: 50%; right: 10px; transform: translateY(-50%); cursor: pointer; }
.dvd_li_wrap:hover .dvd_inner_contents > p {text-decoration: underline;}

.dvd_img_box {width: 216px; height: 210px; }
.dvd_img_box {width: 170px; height: 210px; }
.dvd_img_box img {width: 100%; height: 100%;}

.dvd_inner_contents {width: 100%; height: 50px; text-align: center; line-height: 25px; line-height: 20px;}
.dvd_inner_contents p { font-size: 11px; }
.dvd_no_sale {font-size: 14px; color: #aaa; text-decoration: line-through;}
.dvd_sale { font-size: 14px; font-weight: bold; letter-spacing: -2; color: #222;}
.dvd_point { font-size: 12px; letter-spacing:-2;}

/*cd 바텀*/
.click_wrap2 {width: 100%; height: 184px; display: flex; justify-content: space-evenly; }
.cd_bottom_wrap1 {width: 120px; height: 184px; display: flex; flex-direction: column; justify-content: center; align-items: center; cursor: pointer;}
.cd_bottom_wrap1 p a {font-size: 12px; letter-spacing: -1px;}
.cd_bottom_wrap1:hover  a {text-decoration: underline;}
.cd_bottom_img1 {width: 106px; height: 106px;  }
.cd_bottom_img1 img {width: 100%; height: 100%;}



/*dvd바텀*/
.click_wrap2 {width: 100%; height: 184px; display: flex; justify-content: space-evenly; background-color: #f7f7f7; }
.dvd_bottom_wrap1 {width: 120px; height: 184px; display: flex; flex-direction: column; justify-content: center; align-items: center; cursor: pointer;}
.dvd_bottom_wrap1 p a {font-size: 12px;}
.dvd_bottom_wrap1:hover  a {text-decoration: underline;}
.dvd_bottom_img1 {width: 106px; height: 106px;  }
.dvd_bottom_img1 img {width: 100%; height: 100%;}




/*스페셜*/
#special_wrap {width: 320px; height: 479px; position: relative; background-color: #f7f7f7; border-top: 1px solid #000;}
.special_prev {position: absolute; top: 50%; left: 10px; transform: translateY(-50%); cursor: pointer;}
.special_next {position: absolute; top: 50%; right: 10px; transform: translateY(-50%);  cursor: pointer;}
#sp_slide_wrap {width: 320px; height: 479px;padding: 0 50px; overflow: hidden; padding-bottom: 5px;}
#sp_slide_ul {width: 1600px; height: 100%; }
#sp_slide_ul li {width: 220px; height: 100%;  float: left; margin-right: 50px;
display: flex; flex-direction: column; justify-content: space-evenly; align-items: center; text-align: center;}

.slide_img_box {width: 170px; height: 255px; }
.slide_img_box img {width: 100%; height: 100%;}
.slide_contents_box {width: 190px; height: 80px; display: flex; 
flex-direction: column; align-items: center; justify-content: space-around;}
.slide_contents_box h3 {font-size: 20px; text-decoration: underline; font-weight: bold; cursor: pointer;}
.title a {font-size: 12px; color: #222;}
.title:hover a {text-decoration: underline;}
.net_price  {color: #999; text-decoration: line-through; font-size: 12px;}
.sale_price  {font-size: 12px; font-weight: bold;}






/*섹션 메인6 바텀*/
#image_box_bottom_wrap  {width: 980px; height: 80px; display: flex; justify-content: space-between;}
.image_contents_box {width: 320px; height: 80px; cursor: pointer;}


/*섹션 메인7*/
#main_7 {width: 980px; height: 150px; }
#service_title_wrap {width: 980px; height: 35px; border-bottom: 1px solid #000; display: flex; justify-content: space-between;}
#notice_title_box {width: 340px; height: 35px;  }
#service_title_wrap > h2 {display: flex; align-items: center;}

#service_contents_wrap {width: 980px; height: 115px; display: flex; justify-content: space-between;}
.service_box {width: 240px;height: 115px;}
.service_title {line-height: 35px; font-size: 14px;}
.service_a {font-size: 11px; display: block; line-height: 20px; color: #888; letter-spacing: -1px;}


/*바텀배터*/
#banner {width: 100%; height: 60px; background-color: #58cfc7;}
#banner_wrap {width: 1000px; height: 60px; background-color: antiquewhite; margin: 0 auto; display: flex;}
.banner_box {width: 500px; height:60px;background-color: #58cfc7; font-size: 17px;
display: flex; justify-content: center; align-items: center;}
.banner_box:first-child {border-right: 1px solid #fff;}
.banner_box span:first-child {color:#fff; display: block; padding-left: 10px;}
.banner_box span:last-child {color:#fff5b1;;}

.banner_box_right {width: 490px; height:60px; background-color: pink;}


